.form-switch {
  input {
    width: 45px;
    height: 20px;
  }
}

.table {
  thead {
    th {
      &:after {
        right: 0.5em;
        content: "\2191 \2193";
        margin-left: 8px;
      }
    }
  }
}
