<div class="container-fluid">
    <app-page-title title="Profile Management"></app-page-title>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <h4 class="mb-4 font-size-18">General Setting</h4>
                    <form>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group mb-2">
                                    <label for="exampleFirstname">First name</label>
                                    <input type="text" class="form-control" id="exampleFirstname"
                                        aria-describedby="emailHelp" />

                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group mb-2">
                                    <label for="exampleLastname">Last name</label>
                                    <input type="text" class="form-control" id="exampleLastname" />

                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group mb-2">
                                    <label for="exampleProfile">Upload profile photo</label>
                                    <input type="file" class="form-control" id="exampleProfile" />

                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group mb-2">
                                    <label for="exampleEmail">Email Address</label>
                                    <input type="text" class="form-control" id="exampleEmail" />

                                </div>
                            </div>
                        </div>
                        <div class="mt-3">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <h4 class="mb-4 font-size-18">Password Setting</h4>
                    <form>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group mb-2">
                                    <label for="exampleCurrent_pwd">Current Password</label>
                                    <input type="password" class="form-control" id="exampleCurrent_pwd"
                                        aria-describedby="emailHelp" />

                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group mb-2">
                                    <label for="exampleNew_pwd">New Password</label>
                                    <input type="password" class="form-control" id="exampleNew_pwd" />

                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group mb-2">
                                    <label for="exampleConfirm_pwd">Confirm Password</label>
                                    <input type="password" class="form-control" id="exampleConfirm_pwd" />

                                </div>
                            </div>

                        </div>
                        <div class="mt-3">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>